<div class="container" ng-init="getTrackData()">
  <div class="">
    <div ng-show="isAdd">
      <label>type</label>
      <select class="form-control" ng-model="data.type" ng-required="true">
        <option value="place">場所</option>
        <option value="transfer">移動手段</option>
      </select>
    </div>
    <div class="form-group">
      <label>タイトル</label>
      <input type="text" class="form-control" required ng-model="data.name" />
    </div>
    <div class="form-group icon-label" ng-hide="data.type ==='transfer'">
      <label>説明</label>
      <textarea type="text" class="form-control" ng-model="data.comment"></textarea>
    </div>
    <div class="image-container" ng-hide="data.type ==='transfer'">
      <div class="form-group">
        <label for="title">Images</label>
        <p ng-repeat="n in data.image_urls track by $index">
          <input type="url" class="form-control" id="image_urls" required placeholder="http://example.com/foo.jpg" ng-model="data.image_urls[$index]" />
        </p>
        <p>
          <button type="button" class="btn btn-success" ng-click="addImage(data.image_urls)">+ Add Image URL</button>
        </p>
        <div class="preview-area">
          <div class="images" ng-repeat="n in data.image_urls track by $index" ng-if="n">
            <div class="image" ng-style="{'background-image': 'url(' + n + ')'}"></div>
            <a href="javascript:void(0);">
              <i class="delete-icon glyphicon glyphicon-remove" ng-click="deleteImage(data.image_urls , $index)"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group icon-label">
      <div class="images" ng-repeat="n in data.image_urls track by $index" ng-if="n">
        <div class="image" ng-style="{'background-image': 'url(' + n + ')','width': resolveImageSize(data.image_urls.length, $index), 'height': resolveImageSize(data.image_urls.length, $index)}"></div>
      </div>
    </div>
    <div class="form-group" ng-if="data.start">
      <label><i class="material-icons">access_time</i>start</label>
      <input type="text" class="form-control" required ng-model="data.start" />
    </div>
    <div class="form-group" ng-if="data.time">
      <label><i class="material-icons">access_time</i>time</label>
      <input type="text" class="form-control" required ng-model="data.time" />
    </div>
  </div>
  <div ng-if="isAdd">
    <label>追加する位置</label>
    <select class="form-control" ng-model="addIndex" ng-options="s.index as s.name group by s.group for s in selectOptions" ng-required="true">
      <option value="">選択してください</option>
    </select>
    <a href="javascript:void(0)" ng-click="createSpot(addIndex)" class="btn btn-raised btn-primary btn-block">ADD</a>
  </div>
  <div ng-if="!isAdd">
    <a href="javascript:void(0)" ng-click="save()" class="btn btn-raised btn-primary btn-block">UPDATE</a>
    <a href="javascript:void(0)" ng-click="deleteSpot()" class="btn btn-raised btn-danger btn-block">DELETE</a>
  </div>
</div>
