$text-color: #666;
$state-success-text: #cecece;
$state-danger-text: red;

$brand-primary:         #48cfad;
$brand-success:         #48cfad;
$brand-danger:          red;

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'bootstrap-material-design/sass/bootstrap-material-design';
@import 'bootstrap-material-design/sass/ripples';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'spot/main.scss';
@import 'modal/modal.scss';
// endinjector

body {
    background-color: #eee;
    font-family: 'Roboto';
    color: #666;
}

.header {
  ul {
    padding: 5px 0;
  }
  
  .disabled {
    font-size: 18px;
    color: #fff;
    line-height: 44px;
  }
  .dropdown {
    float: right;
  }
  .dropdown-menu {
    right: 0;
    left: inherit;
  }
}